In [1]:
import pandas as pd

staff = pd.read_csv("staff.csv")

print(f"\nStaff data frame has the following columns: \n{list(staff.columns)}\n")

print(staff)

Staff data frame has the following columns:
['name', 'city', 'date_of_birth', 'start_date', 'salary', 'department']

               name             city date_of_birth  start_date   salary  \
0          John Doe      Houston, TX    1998-11-04  2018-08-11  $65,000
1          Jane Doe     San Jose, CA    1995-08-05  2017-08-24  $70,000
2        Matt smith       Dallas, TX    1996-11-25  2020-04-16  $58,500
3     Ashley Harris        Miami, FL    1995-01-08  2021-02-11  $49,500
4  Jonathan targett  Santa Clara, CA    1998-08-14  2020-09-01  $62,000
5         Hale Cole      Atlanta, GA    2000-10-24  2021-10-20  $54,500

        department
0       Accounting
1    Field Quality
2  human resources
3       accounting
4    field quality
5      engineering

In [2]:


print(staff["name"].str[0])

0    J
1    J
2    M
3    A
4    J
5    H
Name: name, dtype: object

In [3]:
import pandas as pd

staff = pd.read_csv("staff.csv")

print(staff["name"].str[0:3])

0    Joh
1    Jan
2    Mat
3    Ash
4    Jon
5    Hal
Name: name, dtype: object

In [4]:


print(staff["name"].str[1::2])

0        onDe
1        aeDe
2       atsih
3      slyHri
4    oahntret
5        aeCl
Name: name, dtype: object

# Splitting
In some cases, strings contain several pieces of information so we might need to split a string in order to access one piece of information.

In staff, the name column contains both the first and last names. We can easily extract the first or last names from the name column by using the split function.

The Pandas split function is available under the str accessor. It splits a string at the position of the given character and then returns a list of all parts.

Let’s look at a simple example first. The following code snippet splits the name column at the space character.

In [5]:

print(staff["name"].str.split(" "))

0            [John, Doe]
1            [Jane, Doe]
2          [Matt, smith]
3       [Ashley, Harris]
4    [Jonathan, targett]
5           [Hale, Cole]
Name: name, dtype: object

In [6]:

staff["last_name"] = staff["name"].str.split(" ", expand=True)[1]

print(staff[["name","last_name"]])

               name last_name
0          John Doe       Doe
1          Jane Doe       Doe
2        Matt smith     smith
3     Ashley Harris    Harris
4  Jonathan targett   targett
5         Hale Cole      Cole

# Combining
Just like we split strings, we can combine multiple strings into a single one.

The + operator can be used to combine strings. Let’s review a quick example.

In [7]:

print(staff["name"] + " - " + staff["department"])

0               John Doe - Accounting
1            Jane Doe - Field Quality
2        Matt smith - human resources
3          Ashley Harris - accounting
4    Jonathan targett - field quality
5             Hale Cole - engineering
dtype: object

# Upper and lower case
Python is case-sensitive. This means that we need to have the strings in standard format in order to perform analysis on them. Thankfully, it’s quite simple to change a string’s case in Pandas.

The names in our staff have both upper and lower case letters. Let’s convert all of them to lower case.

In [8]:


staff["name_lower"] = staff["name"].str.lower()

print(staff[["name","name_lower"]])

               name        name_lower
0          John Doe          john doe
1          Jane Doe          jane doe
2        Matt smith        matt smith
3     Ashley Harris     ashley harris
4  Jonathan targett  jonathan targett
5         Hale Cole         hale cole

In [16]:


print(staff["department"][0].upper())

ACCOUNTING

# The replace function
The Pandas library provides highly flexible ways to manipulate strings. One of them is the replace function, under the str accessor. It can be used to replace a character or a sequence of characters in a string.

In [17]:


print(staff["city"].str.replace(",", "-"))

0        Houston- TX
1       San Jose- CA
2         Dallas- TX
3          Miami- FL
4    Santa Clara- CA
5        Atlanta- GA
Name: city, dtype: object

In [18]:


# Create a state colum
staff["state"] = staff["city"].str[-2:]

# Replace state abbreviations with actual state names
staff["state"].replace(
    {"TX": "Texas", "CA": "California", "FL": "Florida", "GA": "Georgia"},
    inplace = True
)

print(staff["state"])

0         Texas
1    California
2         Texas
3       Florida
4    California
5       Georgia
Name: state, dtype: object

We can combine multiple string manipulation operations into a single chained operation. For instance, we can extract the state part from the city column and convert it to lowercase letters in a single line of code.

In [19]:
import pandas as pd

staff = pd.read_csv("staff.csv")

print(staff["city"].str.split(",", expand=True)[1].str.lower())

0     tx
1     ca
2     tx
3     fl
4     ca
5     ga
Name: 1, dtype: object

In [20]:


print(staff["department"].str.lower().replace("field quality","quality"))

0         accounting
1            quality
2    human resources
3         accounting
4            quality
5        engineering
Name: department, dtype: object

In [21]:


print(staff.query("name > 'John Doe'").start_date.str[:4].astype("int"))

2    2020
4    2020
Name: start_date, dtype: int32

# Date and time data types
We can express dates and times in three main forms:

A specific date or time (2021-12-10, 2021-11-25 14:59:00)
A fixed interval (hour, week, month).
A duration (3 weeks, 4 hours and 30 minutes).

The Pandas library has several functions and methods to handle these different forms efficiently and easily. It’s important to use appropriate data types for date and time values. Otherwise, we won’t be able to use Pandas functions for dates and times.

The datetime64[ns] data type can be used to express date and time values. The values that have datetime64[ns]data type are calledTimestamp. A Timestampcontains both date and time information. We can convert a string representing a date to a Timestamp by using theto_datetime` constructor

In [22]:
import pandas as pd

first_date = pd.to_datetime("2021-10-10")
second_date = pd.to_datetime("2021-10-02")

diff = first_date - second_date

print(diff)

8 days 00:00:00

In [23]:
import pandas as pd

first_date = pd.to_datetime("1998-07-28")
second_date = pd.to_datetime("2023-07-28")

diff = first_date - second_date

print(diff)

-9131 days +00:00:00

In [24]:
import pandas as pd

staff = pd.read_csv("staff.csv")

staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]",
})

print(staff.dtypes)

name                     object
city                     object
date_of_birth    datetime64[ns]
start_date       datetime64[ns]
salary                   object
department               object
dtype: object

# Dates include lots of information
A Timestamp object contains multiple pieces of information, such as year, month, week, day of the week, hour, minute, and so on. We have many options to express an instance in time. In some cases, it’s enough to only specify the date. Some tasks require precision in minutes or seconds.

In [25]:
import pandas as pd

mydate = pd.to_datetime("2021-10-10")

print(f"The year part is {mydate.year}")
print(f"The month part is {mydate.month}")
print(f"The week number part is {mydate.week}")
print(f"The day part is {mydate.day}")

The year part is 2021
The month part is 10
The week number part is 40
The day part is 10

In [26]:
import pandas as pd

mydate = pd.to_datetime("2021-10-10 14:30:00")

print(f"The hour part of mydate is {mydate.hour}")
print(f"The minute part of mydate is {mydate.minute}")
print(f"The second part of mydate is {mydate.second}")

The hour part of mydate is 14
The minute part of mydate is 30
The second part of mydate is 0

In [27]:
import pandas as pd

mydate = pd.to_datetime("2021-12-21 00:00:00")

print(f"The date part is {mydate.date()}")
print(f"The day of week is {mydate.weekday()}")
print(f"The name of the month is {mydate.month_name()}")
print(f"The name of the day is {mydate.day_name()}")

The date part is 2021-12-21
The day of week is 1
The name of the month is December
The name of the day is Tuesday

In [28]:
import pandas as pd

# read DataFrame
staff = pd.read_csv("staff.csv")

# change the data type of date columns
staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]",
})

# create start_month column
staff["start_month"] = staff["start_date"].dt.month

print(staff[["start_date","start_month"]])

  start_date  start_month
0 2018-08-11            8
1 2017-08-24            8
2 2020-04-16            4
3 2021-02-11            2
4 2020-09-01            9
5 2021-10-20           10

# Methods under the dt accessor
We can get the year and dayparts using the year and day in a similar way. Some other methods available through the dt accessor are:

weekday
hour
minute
second
week (deprecated since version 1.1.0)
weekofyear (deprecated since version 1.1.0)
In Pandas version 1.1.0 or higher, isocalendar is a highly useful alternative to week and weekofyear. When applied to a column, it returns a DataFrame that contains the year, calendar week, and day of week information.

In [29]:
staff["start_date"].dt.isocalendar()

   year  week  day
0  2018    32    6
1  2017    34    4
2  2020    16    4
3  2021     6    4
4  2020    36    2
5  2021    42    3

# The DateOffset function
One Pandas function we can use to add or subtract dates and times is DateOffset. It can be used with both dates and times. We only need to specify the unit and quantity to be added or subtracted. Consider a case where we want to give a raise to our employees one year after they’re hired. In the staff, we can create a column called raise_date by adding one year to the start_date column.

In [30]:
import pandas as pd

# create the DataFrame
staff = pd.read_csv("staff.csv")

# change the date type
staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]"
})

# create raise_date column
staff["raise_date"] = staff["start_date"] + pd.DateOffset(years=1)

print(staff[["start_date","raise_date"]].head())

  start_date raise_date
0 2018-08-11 2019-08-11
1 2017-08-24 2018-08-24
2 2020-04-16 2021-04-16
3 2021-02-11 2022-02-11
4 2020-09-01 2021-09-01

In [31]:
staff["start_date"] + pd.DateOffset(months=6)

0   2019-02-11
1   2018-02-24
2   2020-10-16
3   2021-08-11
4   2021-03-01
5   2022-04-20
Name: start_date, dtype: datetime64[ns]

In [32]:
import pandas as pd

mytime = pd.Timestamp("2021-12-14 16:50:00")

print("The first method")
print(mytime + pd.DateOffset(hours=-2))

print("\nThe second method")
print(mytime - pd.DateOffset(hours=2))

The first method
2021-12-14 14:50:00

The second method
2021-12-14 14:50:00

In [33]:
import pandas as pd

# create the DataFrame
staff = pd.read_csv("staff.csv")

# change the date type
staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]"
})

# add 12 weeks
print(staff["start_date"] + pd.Timedelta(value=12, unit="W"))

0   2018-11-03
1   2017-11-16
2   2020-07-09
3   2021-05-06
4   2020-11-24
5   2022-01-12
Name: start_date, dtype: datetime64[ns]

In [34]:
import pandas as pd

# create the DataFrame
staff = pd.read_csv("staff.csv")

# change the date type
staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]"
})

# add 12 weeks
print(staff["start_date"] + pd.Timedelta("12 W"))

0   2018-11-03
1   2017-11-16
2   2020-07-09
3   2021-05-06
4   2020-11-24
5   2022-01-12
Name: start_date, dtype: datetime64[ns]

In [35]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7],
    "E": [1, 2, 3, 4, 5]
})

# Drop rows that have less than 4 non-missing values
df.dropna(thresh=4, inplace=True)

print(df)

     A    B    C     D  E
0  1.0  2.4  NaN  11.5  1
2  3.0  5.1  zoo   6.2  3
4  7.0  2.6  NaN   8.7  5

In [36]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7],
    "E": [1, 2, 3, 4, 5]
})

print(df["A"].fillna(value = df["A"].mean()))

0    1.00
1    2.00
2    3.00
3    3.25
4    7.00
Name: A, dtype: float64

In [37]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7],
    "E": [1, 2, 3, 4, 5]
})

# find the replacement values
value_a = df["A"].mean()
value_d = df["D"].mean()

# replace the missing values
print(df.fillna({"A": value_a, "D": value_d}))

      A    B    C       D  E
0  1.00  2.4  NaN  11.500  1
1  2.00  NaN  foo  11.875  2
2  3.00  5.1  zoo   6.200  3
3  3.25  NaN  bar  21.100  4
4  7.00  2.6  NaN   8.700  5

To reiterate, determining the replacement value depends on the characteristics of the data. For instance, if our data consists of the daily stock prices, filling a missing value with the previous or next value is more optimal than using the average. This is a commonly used approach in time-series data. The fillna function performs this operation easily with the method parameter.

method = "bfill": Replace missing values backward, which means that a missing value is replaced by the value that comes after it.

method = "ffill": Replace missing values forward, which means that a missing value is replaced by the value that comes before it.

In [38]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7],
    "E": [1, 2, 3, 4, 5]
})

print("Filling backward")
print(df["A"].fillna(method="bfill"))

print("\nFilling forward")
print(df["A"].fillna(method="ffill"))

Filling backward
0    1.0
1    2.0
2    3.0
3    7.0
4    7.0
Name: A, dtype: float64

Filling forward
0    1.0
1    2.0
2    3.0
3    3.0
4    7.0
Name: A, dtype: float64

In [ ]:
# import pandas as pd

# grocery = pd.read_csv("grocery.csv")

# # Creating the week column
# grocery["sales_date"] = grocery["sales_date"].astype("datetime64[ns]")
# grocery["week"] = grocery["sales_date"].dt.week

# # Creating the pivot table
# print(
#   pd.pivot_table(
#     data = grocery, 
#     values = "price", 
#     index = "week", 
#     columns = "product_group",
#     aggfunc = ["mean","std"]
#   )
#  )

# The cut function
Both the cut and qcut functions convert columns with continuous values to categorical columns, but they apply different techniques. The cut function divides the entire value range into intervals of the same size, called bins. The range covered by each bin will be the same. If the minimum value is 0 and the maximum value is 10 and we want to divide the values into four groups (bins). The bins will be created as follows:

In [39]:
import pandas as pd

# Create a Series with values between 0 and 10
A = pd.Series([5, 0, 2, 8, 4, 10])

# cut function
A_binned = pd.cut(A, bins=[-1, 3, 6, 10], labels=["small","medium","large"])

print(A_binned)
print("\n")
print(A_binned.value_counts())

0    medium
1     small
2     small
3     large
4    medium
5     large
dtype: category
Categories (3, object): ['small' < 'medium' < 'large']


small     2
medium    2
large     2
dtype: int64

# The qcut function
The cut function divides the entire values range into bins of equal sizes. With the qcut function, the focus is on the number of values that fall into the bins. The qcut function groups the values into bins so that there is approximately the same number of values in each bin. The upper and lower bounds are adjusted accordingly. The following block of code demonstrates how the qcut function works.

In [40]:
import pandas as pd

A = pd.Series([1, 4, 2, 10, 5, 6, 8])

# The qcut function
A = pd.Series([1, 4, 2, 3, 10, 5, 6, 8, 7, 5, 9, 14])

A_binned = pd.qcut(A, q=[0, 0.50, 0.75, 1])

print(A_binned.value_counts())

(0.999, 5.5]    6
(5.5, 8.25]     3
(8.25, 14.0]    3
dtype: int64

In [41]:
import pandas as pd

# Create a Series
A = pd.Series([1, 4, 2, 10, 5, 6, 8])

# The qcut function
A = pd.Series([1, 4, 2, 10, 5, 6, 8, 7, 5, 3, 5, 9])

A_binned = pd.qcut(A, q=3)

print(A_binned.value_counts())

(0.999, 4.667]    4
(4.667, 6.333]    4
(6.333, 10.0]     4
dtype: int64

# Combining DataFrames
We sometimes need to collect data from different resources and combine them into a single DataFrame. How we approach this task depends on the characteristic of the data and the way it’s represented.

One option is to combine them by stacking them side-by-side or on top of each other. We can imagine building a brick wall. One wall is made up of multiple bricks placed side-by-side and on top of one another. The concat function can be used for this task. Let’s go over some examples to learn how this function is used. Suppose we have the following DataFrames.

In [42]:
import pandas as pd

df1 = pd.DataFrame({"A":[1,5,3,2], "B":[11,6,9,6], "C":["a","d","f","b"]})

df2 = pd.DataFrame({"A":[2,4,1,7], "B":[14,9,5,8], "C":["b","b","j","a"]})

df_combined = pd.concat([df1, df2], axis=0)

print(df_combined)

   A   B  C
0  1  11  a
1  5   6  d
2  3   9  f
3  2   6  b
0  2  14  b
1  4   9  b
2  1   5  j
3  7   8  a

In [43]:
import pandas as pd

df1 = pd.DataFrame({"A":[1,5,3,2], "B":[11,6,9,6], "C":["a","d","f","b"]})

df2 = pd.DataFrame({"A":[2,4,1,7], "B":[14,9,5,8], "D":["b","b","j","a"]})

df_combined = pd.concat([df1, df2], axis=0, ignore_index=True)

print(df_combined)

   A   B    C    D
0  1  11    a  NaN
1  5   6    d  NaN
2  3   9    f  NaN
3  2   6    b  NaN
4  2  14  NaN    b
5  4   9  NaN    b
6  1   5  NaN    j
7  7   8  NaN    a

In [44]:
import pandas as pd

df1 = pd.DataFrame({"A":[1,5,3,2], "B":[11,6,9,6], "C":["a","d","f","b"]})

df2 = pd.DataFrame({"A":[2,4,1,7], "B":[14,9,5,8], "D":["b","b","j","a"]})

df_combined = pd.concat([df1, df2], axis=1)

print(df_combined)

   A   B  C  A   B  D
0  1  11  a  2  14  b
1  5   6  d  4   9  b
2  3   9  f  1   5  j
3  2   6  b  7   8  a

In [45]:
import pandas as pd

# create product and sales DataFrames
product = pd.DataFrame({
  "product_code": [1001, 1002, 1003, 1004],
  "weight": [125, 200, 100, 400],
  "price": [10.5, 24.5, 9.9, 34.5]
})

sales = pd.DataFrame({
  "product_code": [1001, 1002, 1003, 1007],
  "sales_date": ["2021-12-10"] * 4,
  "sales_qty": [8, 14, 22, 7]
})

# merge DataFrames
merged_df = product.merge(sales, how="left", on="product_code")

print(merged_df)

   product_code  weight  price  sales_date  sales_qty
0          1001     125   10.5  2021-12-10        8.0
1          1002     200   24.5  2021-12-10       14.0
2          1003     100    9.9  2021-12-10       22.0
3          1004     400   34.5         NaN        NaN